<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680397691158-0cfqojujmk3mc3vrll7ncrl2pfii865m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680397691158-0cfqojujmk3mc3vrll7ncrl2pfii865m</string>
	<key>API_KEY</key>
	<string>AIzaSyCce2Pg-vsvcjKpiHlawZGsN8fcCsfC5gA</string>
	<key>GCM_SENDER_ID</key>
	<string>680397691158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akhir</string>
	<key>PROJECT_ID</key>
	<string>finalpro-4ed25</string>
	<key>STORAGE_BUCKET</key>
	<string>finalpro-4ed25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680397691158:ios:e035db787e935dcbf39837</string>
</dict>
</plist>